<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Sawadevelopers.bkexercise.MovieDbexer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.TrendsTVActivity"></activity>
        <activity android:name=".Activities.VisitedTVActivity" />
        <activity android:name=".Activities.TrendsMoviesActivity" />
        <activity android:name=".Activities.VisitedMoviesActivity" />
        <activity android:name=".Activities.MovieDetailsActivity" />
        <activity android:name=".Activities.SearchMoviesActivity" />
        <activity android:name=".Activities.CreatorDetailsActivity" />
        <activity android:name=".Activities.TVDetailsActivity" />
        <activity android:name=".Activities.SearchTVActivity" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>